body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../SN_MainScene_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:6px;
    top:-10px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../SN_MainScene_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:294px;
    top:113px;
    width:59px;
    height:23px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:29px;
}

.u3 {
    position:absolute;
    left:2px;
    top:5px;
    width:55px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../SN_MainScene_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:212px;
    top:113px;
    width:92px;
    height:23px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:29px;
}

.u5 {
    position:absolute;
    left:2px;
    top:5px;
    width:88px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../SN_MainScene_files/u4_normal.png');
}

.u6_container {
    position:absolute;
    left:130px;
    top:113px;
    width:92px;
    height:23px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:98px;
    height:29px;
}

.u7 {
    position:absolute;
    left:2px;
    top:5px;
    width:88px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../SN_MainScene_files/u2_normal.png');
}

.u8_container {
    position:absolute;
    left:78px;
    top:113px;
    width:59px;
    height:23px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:29px;
}

.u9 {
    position:absolute;
    left:2px;
    top:5px;
    width:55px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../SN_MainScene_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:86px;
    top:146px;
    width:299px;
    height:56px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:305px;
    height:62px;
}

.u11 {
    position:absolute;
    left:2px;
    top:15px;
    width:295px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../SN_MainScene_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:335px;
    top:212px;
    width:63px;
    height:65px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:65px;
}

.u13 {
    position:absolute;
    left:2px;
    top:24px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../SN_MainScene_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:109px;
    top:224px;
    width:216px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:8px;
    width:212px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:341px;
    top:278px;
    width:41px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:70px;
    top:554px;
    width:100px;
    height:38px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:305px;
    top:554px;
    width:85px;
    height:38px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_normal {
    background-image: url('../SN_MainScene_files/u12_normal.png');
}

.u19_container {
    position:absolute;
    left:77px;
    top:293px;
    width:63px;
    height:65px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:65px;
}

.u20 {
    position:absolute;
    left:2px;
    top:24px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../SN_MainScene_files/u14_normal.png');
}

.u21_container {
    position:absolute;
    left:137px;
    top:309px;
    width:216px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:222px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:8px;
    width:212px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../SN_MainScene_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:103px;
    top:292px;
    width:265px;
    height:65px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:65px;
}

.u24 {
    position:absolute;
    left:2px;
    top:24px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:82px;
    top:365px;
    width:41px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../SN_MainScene_files/u12_normal.png');
}

.u26_container {
    position:absolute;
    left:340px;
    top:422px;
    width:63px;
    height:65px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:65px;
}

.u27 {
    position:absolute;
    left:2px;
    top:24px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../SN_MainScene_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:86px;
    top:442px;
    width:244px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:250px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:8px;
    width:240px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:346px;
    top:489px;
    width:41px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:193px;
    top:560px;
    width:74px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32_normal {
    background-image: url('../SN_MainScene_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:88px;
    top:202px;
    width:265px;
    height:65px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:65px;
}

.u33 {
    position:absolute;
    left:2px;
    top:24px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../SN_MainScene_files/u32_normal.png');
}

.u34_container {
    position:absolute;
    left:77px;
    top:424px;
    width:265px;
    height:65px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:65px;
}

.u35 {
    position:absolute;
    left:2px;
    top:24px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../SN_MainScene_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:436px;
    top:113px;
    width:180px;
    height:80px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u37 {
    position:absolute;
    left:2px;
    top:20px;
    width:176px;
    height:39px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:133px;
    top:353px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39_normal {
    background-image: url('../SN_MainScene_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:436px;
    top:203px;
    width:180px;
    height:108px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:114px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:91px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../SN_MainScene_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:215px;
    top:356px;
    width:60px;
    height:24px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:30px;
}

.u42 {
    position:absolute;
    left:2px;
    top:6px;
    width:56px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

