body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../SN_StorySelect_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:13px;
    top:0px;
    width:450px;
    height:731px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:450px;
    height:731px;
}

.u1 {
    position:absolute;
    left:2px;
    top:358px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../SN_StorySelect_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:80px;
    top:435px;
    width:314px;
    height:133px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:314px;
    height:133px;
}

.u3 {
    position:absolute;
    left:2px;
    top:58px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:80px;
    top:568px;
    width:100px;
    height:38px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5 {
    position:absolute;
    left:180px;
    top:568px;
    width:151px;
    height:38px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:331px;
    top:568px;
    width:63px;
    height:38px;
    ;
    ;
    text-align: center;;
    font-family:'Heiti SC';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_normal {
    background-image: url('../SN_StorySelect_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:86px;
    top:141px;
    width:300px;
    height:84px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:90px;
}

.u8 {
    position:absolute;
    left:2px;
    top:34px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../SN_StorySelect_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:126px;
    top:141px;
    width:265px;
    height:94px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:94px;
}

.u10 {
    position:absolute;
    left:2px;
    top:39px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../SN_StorySelect_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:83px;
    top:157px;
    width:63px;
    height:65px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:65px;
}

.u12 {
    position:absolute;
    left:2px;
    top:24px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:156px;
    top:155px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:281px;
    top:154px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:156px;
    top:178px;
    width:225px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:156px;
    top:210px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../SN_StorySelect_files/u7_normal.png');
}

.u17_container {
    position:absolute;
    left:86px;
    top:235px;
    width:300px;
    height:84px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:90px;
}

.u18 {
    position:absolute;
    left:2px;
    top:34px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../SN_StorySelect_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:86px;
    top:235px;
    width:275px;
    height:93px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:275px;
    height:93px;
}

.u20 {
    position:absolute;
    left:2px;
    top:38px;
    width:271px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../SN_StorySelect_files/u11_normal.png');
}

.u21_container {
    position:absolute;
    left:336px;
    top:250px;
    width:63px;
    height:65px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:65px;
}

.u22 {
    position:absolute;
    left:2px;
    top:24px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:94px;
    top:249px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:219px;
    top:248px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:94px;
    top:272px;
    width:225px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:94px;
    top:304px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../SN_StorySelect_files/u7_normal.png');
}

.u27_container {
    position:absolute;
    left:86px;
    top:328px;
    width:300px;
    height:84px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:90px;
}

.u28 {
    position:absolute;
    left:2px;
    top:34px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../SN_StorySelect_files/u11_normal.png');
}

.u29_container {
    position:absolute;
    left:86px;
    top:343px;
    width:63px;
    height:65px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:65px;
}

.u30 {
    position:absolute;
    left:2px;
    top:24px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:156px;
    top:342px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../SN_StorySelect_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:136px;
    top:332px;
    width:265px;
    height:93px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:93px;
}

.u33 {
    position:absolute;
    left:2px;
    top:38px;
    width:261px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:281px;
    top:341px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:156px;
    top:366px;
    width:225px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:156px;
    top:397px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:171px;
    top:128px;
    width:150px;
    height:13px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../SN_StorySelect_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:455px;
    top:155px;
    width:180px;
    height:200px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:206px;
}

.u39 {
    position:absolute;
    left:2px;
    top:28px;
    width:176px;
    height:143px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../SN_StorySelect_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:455px;
    top:85px;
    width:172px;
    height:60px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:66px;
}

.u41 {
    position:absolute;
    left:2px;
    top:17px;
    width:168px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../SN_StorySelect_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:455px;
    top:377px;
    width:180px;
    height:80px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:86px;
}

.u43 {
    position:absolute;
    left:2px;
    top:27px;
    width:176px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

